<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>day0713</display-name>

  <!-- tomcat-users.xml 에 있는 Role을 선언 -->	
  <security-role>
  	<role-name>role1</role-name>
  </security-role>
  
  <!-- 사용자의 요청 url에 대한 접근 권한을 설정 -->	
  <security-constraint>			
  	<!-- 웹 자원에 대한 접근을 설정하는 태그 -->
  	<web-resource-collection>
  		<!-- 웹 자원의 이름을 선언 -->
  		<web-resource-name>JSPBook</web-resource-name>
  		<!-- 접근 제한을 요청할 URL을 선언 -->
  		<url-pattern>/security02.jsp</url-pattern>
  		<!-- 전송방식을 선언 -->
  		<http-method>GET</http-method>
  	</web-resource-collection>
  	
  	<!-- 
  		컨테이너에게 관련 URL에 대해 인증처리를
  		주어진 Role에 의해 진행하라는 선언 
  	-->
  	<auth-constraint>
  		<description></description>
  		<role-name>role1</role-name>
  		<role-name>tomcat</role-name>
  	</auth-constraint>
  </security-constraint>
  
  <!-- 
  	로그인 방식 선언
  	
  	1.BASIC:로그인 정보를 base64 인코딩 방식으로
  	  처리하는데 중간에 정보를 훔쳐보는 이즈드롭퍼에
  	  의해 정보를 뺏길 위험성이 있음
  	  
  	  톰캣에서 제공하는 보안화면 폼이 실행된다.
  	  
  	2.DIGEST
  	  :암호화 메커니즘을 통해 좀더 안전 
  	  
  	3.CLIENT-CERT:클라이언트가 인증서를 가지고
  	  공인키 인증방식을 사용하여 로그인 하는 방식
  	  
  	4.FORM :개발자가 화면폼을 작성하여 로그인 처리      
  
  -->
  <login-config>
  	<!-- 보안 로그인 화면을 FORM 개발자가 작성 -->
  	<auth-method>FORM</auth-method>
 		<form-login-config>
 			<form-login-page>/login.jsp</form-login-page>
 			<form-error-page>/login_failed.jsp</form-error-page>
 		</form-login-config>
  </login-config>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/error400.jsp</location>
  </error-page>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/error500.jsp</location>
  </error-page>
  
</web-app>



